@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Club de tenis Cariñena<br />
    Plaza de España, 1<br />
    50400 Cariñena (Zaragoza)<br />
    <abbr title="Telefono">Telefono:</abbr>
    976 62 01 12
</address>

<address>
    <strong>Contacto:</strong>   <a href="mailto:proyecto.gestenis@gmail.com">proyecto.gestenis@gmail.com</a><br />
    <strong>Administracion:</strong> <a href="mailto:proyecto.gestenis@gmail.com">proyecto.gestenis@gmail.com</a>
</address>