@model GesTenis.Models.RecuperarContrasenaViewModel

<div class="container">

    @using (Html.BeginForm("RecuperarContrasena", "Home", null, FormMethod.Post, new { @class = "form-signin" }))
    {
        @Html.AntiForgeryToken()

        <h2 class="form-signin-heading">Recuperar contraseña</h2>
        <div>
            <p>Introduce tu email y te enviaremos una contraseña nueva.</p>
            <p>Recuerda cambiarla por una que recuerdes más fácilmente.</p>
            @Html.LabelFor(model => model.email, new { @class = "control-label" })
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control focus" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>
        
        <div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Recuperar contraseña</button>
        </div>

    }

</div> <!-- /container -->
