@{
    ViewBag.Title = "Tarifas";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Tarifas GesTEnis 2015-2016</div>
    <div class="panel-body">
        <p>Estas son las tarifas del club para el curso 2015-2016</p>
    </div>

    <!-- Table -->
    <table class="table table-bordered table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th>Tipo de abono</th>
                <th>Precio</th>
            </tr>
            <tr>
                <td>6 a 14 años: Nacidos entre 2008 y 2001</td>
                <td>100 &euro;</td>
            </tr>
            <tr>
                <td>14 a 18 años: Nacidos entre 2000 y 1997</td>
                <td>150 &euro;</td>
            </tr>
            <tr>
                <td>Mayores de 18 años: Nacidos 1996 y anteriores</td>
                <td>250 &euro;</td>
            </tr>
            <tr>
                <td>Jubilados y mayores de 65 años: Nacidos 1950 y anteriores</td>
                <td>100 &euro;</td>
            </tr>
        </thead>
    </table>
    <div class="panel-footer">
        <h4>Información</h4>
        <p>La tarjeta de temporada tiene validez durante un año a contar desde el día que se hace efectivo el pago.</p>
    </div>

</div>