@if ((Object)Session["SessionUserId"] != null)
{
    <h2>Pagina de  ADMINISTRADOR</h2>
    <div>
        Hello @Session["SessionUserId"].ToString()
    </div>
}
else
{
<div>
   @{ Response.Redirect("~/HOME/About");}
</div>
}
