@if ((Object)Session["UserId"] != null)
{
    <h2>Página de SOCIO</h2>
    <div>
        Hello @Session["UserId"].ToString()
        <p>Has hecho un total de @ViewBag.n_reservas reservas.</p>
    </div>
}
else
{
<div>
   @{ Response.Redirect("~/HOME/About");}
</div>
}
