@if ((Object)Session["UserId"] != null)
{
    <h2>Página de SOCIO</h2>
    <div>
        Hello @Session["UserId"].ToString()
    </div>
}
else
{
<div>
   @{ Response.Redirect("~/HOME/About");}
</div>
}
